<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="https://gocarrot.com"><img alt="Carrot" src="https://d2h7sc2qwu171k.cloudfront.net/assets/carrot_logo_header-93253a129c2731c0ba071a75e4174364.png" /></a>
      <ul class="nav mainnav">
        <li id="navhome"><a href="https://gocarrot.com/">Home</a></li>
        <li id="navapps"><a href="https://gocarrot.com/apps">Apps</a></li>
        <li id="navdocs"><a href="https://gocarrot.com/docs">Documentation</a></li>
        <li id="navblog" class="active"><a href="/">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
