<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto:400|Roboto:500" rel="stylesheet" type="text/css">

<link href="{{ root_url }}/stylesheets/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css">
<script src="{{ root_url }}/javascripts/bootstrap.js" type="text/javascript"></script>

<meta property="og:url" content="http://blog.gocarrot.com" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Carrot Blog" />
<meta property="og:description" content="Attract users with proven social tools." />
<meta property="og:image" content="https://d2h7sc2qwu171k.cloudfront.net/assets/carrot_logo-4df61c4e285212a3488178cf0e1183c3.png" />
