<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="https://gocarrot.com/"><img alt="Carrot" src="http://gocarrot.com/assets/image/carrot_logo_header/png" /></a>
        <ul class="nav mainnav">
          <li id="navhome" class=""><a href="https://gocarrot.com/home">Home</a></li>
          <li id="navapps" class=""><a href="https://gocarrot.com/apps">Apps</a></li>
          <li id="navdocs" class=""><a href="https://gocarrot.com/docs">Documentation</a></li>
          <li id="navblog" class="active"><a href="http://blog.gocarrot.com/">Blog</a></li>
        </ul>
      <!-- <div class="btn-group pull-right" style="margin-top:7px;">
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
          enki@gameclay.com
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Account</a></li>
          <li><a href="index.html">Log Out</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
