<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% carrot home %}"><img alt="Carrot" src="{% carrot image carrot_virals png %}" /></a>
      <ul class="nav nav-pills pull-right">
        <li id="navhome"><a href="{% carrot home %}">How it Works</a></li>
        <li id="navblog" class="active"><a href="http://blog.gocarrot.com/">Blog</a></li>
        <li id="login"><a href="{% carrot developers/sign_in %}" class="login">Log In</a></li>
        <li id="signup"><a href="{% carrot developers/sign_up %}" class="btn btn-signup btn-warning btn-large">Sign up for the free plan.</a></li>
      </ul>
    </div>
  </div>
</div>