// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body.blog {

  article.pagewrap {
    position: relative;
    padding: 30px 90px;
    .page-header, .page-header p.meta {
      padding-top: 0;
      margin: 0;
    }

    h3 {
      margin: 1.3em 0;
      font-size: 21px;
      line-height: 1.66em;
      font-family: inherit !important;
      font-weight: 600;
    }
  }

  .sidebar-nav {
    margin-top: 20px;
  }
  .page-bullet {
    background: rgb(248, 148, 6);
    position: absolute;
    top: 30px;
    left: 25px;
    border-radius: 2px;
    text-align: center;
    .time {
      color: #fff;
      font-size: 10px;
      font-weight: 600;      
    }
  }
  .authorface {
    height: 50px;
    width: 50px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .entry-author {
    font-size: 16px;
    font-weight: 600;
    color: rgb(248, 148, 6);
  }
  h1.entry-title {
    margin-top: 0;
  }
  #recent_posts {
    li {
      margin-bottom: 1em;
    }
  }
  .entry-content {
    font-size: 16px;
    line-height: 1.66em;
    font-weight: 400;

    strong {
      font-weight: 600;      
    }
    p {
      margin: 0 0 1.3em 0;
    }
    .lead {
      line-height: 1.66em;
    }
    ul, ol {
      margin: 1.3em 0 1.3em 20px;
    }
    li {
      line-height: inherit;
    }
  }
  ul.thumbnails {
    margin: 0;
  }
  .thumbnail {
    margin-top: 3px;
    margin-bottom: 10px;

    &.pull-right {
      margin-left: 15px;
      margin-right: -60px;
    }
    &.pull-left {
      margin-right: 20px;
      margin-left: -60px;
    }
    p, figcaption {
      color: #333;
      background: #f0f0f0;
      font-size: 12px;
      padding: 0.5em;
      text-align: center;
      margin: 0;
      font-style: italic;
    }
  }
  article {
    margin-bottom: 30px;
  }
  aside {
    li a {
      border-radius: 4px;
    }
  }
  header.page-header {
    border-bottom: none;
  }
  article.pagewrap footer {
    margin-top: 30px;

    .sharing {
      margin-top: 30px;
      width: 20%;
      min-height: 50px;
      float: right;
    }
    .meta {
      border-top: 1px solid rgb(238, 238, 238);
      padding-top: 30px;
      color: #999;
      margin-top: 0;
      line-height: 1.66em;
      .fn {
        font-weight: 600;
      }
    }
    .pager {
      margin-top: 0;      
      padding-bottom: 20px;
      clear: both;
    }
  }
}
